// Global Stylesheet

// Color Palette
body {
    background: black;
}
    
header {
    color: gold;
}

h6 {
    color: gold;
}

p {
    color: gold;
}
// Typography

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}

img {
    width: 100%;
}